$paleBlue: hsl(225, 100%, 94%); 
$brightBlue: rgb(56, 41, 224);
$veryPaleBlue: hsl(225, 100%, 98%);
$desaturatedBlue: hsl(224, 23%, 55%);
$darkBlue: hsl(223, 47%, 23%);

$defaultFont: 'Red Hat Display', sans-serif;

