@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-image: url("/images/pattern-background-desktop.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: hsl(225deg, 100%, 94%);
}

.container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: hsl(0deg, 0%, 100%);
  max-width: 100vw;
  min-height: 100vh;
  margin: auto;
  border-radius: 15px;
}

.image-section img {
  width: 100%;
  border-radius: 15px 15px 0px 0px;
}

.main-content .text-area {
  color: hsl(223deg, 47%, 23%);
  font-family: "Red Hat Display", sans-serif;
  text-align: center;
  padding-top: 2rem;
  width: 80%;
  margin: auto;
}
.main-content .text-area h1 {
  font-size: 2rem;
}
.main-content .text-area p {
  font-size: 1.4rem;
  opacity: 0.6;
  font-weight: 400;
  line-height: 2.2rem;
}
.main-content .order-section {
  display: flex;
  align-items: center;
  margin: 2.8rem;
  background-color: hsl(225deg, 100%, 98%);
  border-radius: 10px;
  height: 10vh;
}
.main-content .order-section img {
  min-width: 5vw;
  margin-left: 1.5rem;
}
.main-content .order-section .plan {
  min-width: 150px;
  margin-left: 0.8rem;
}
.main-content .order-section .plan h2 {
  font-size: 1.5rem;
  font-weight: 900;
  color: hsl(223deg, 47%, 23%);
}
.main-content .order-section .plan p {
  opacity: 0.6;
  font-size: 1.2rem;
}
.main-content .order-section .change-link {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding-left: 5rem;
  font-size: 1.4rem;
  font-weight: 700;
}
.main-content .order-section .change-link a {
  color: rgb(56, 41, 224);
  text-decoration: none;
}
.main-content .order-section .change-link a:hover {
  opacity: 0.6;
}
.main-content .buttons {
  margin: 40px;
}
.main-content .buttons .btn-proceed {
  font-weight: 800;
  font-size: 1rem;
  font-family: "Red Hat Display", sans-serif;
  border: none;
  border-radius: 0.4rem;
  padding: 20px;
  width: 100%;
  background-color: rgb(56, 41, 224);
  color: hsl(0deg, 0%, 100%);
}
.main-content .buttons .btn-proceed:hover {
  opacity: 0.6;
}
.main-content .buttons .btn-cancel {
  font-weight: 800;
  font-size: 1rem;
  font-family: "Red Hat Display", sans-serif;
  border: none;
  border-radius: 0.4rem;
  padding: 20px;
  margin-top: 20px;
  width: 100%;
  color: hsl(224deg, 23%, 55%);
}
.main-content .buttons .btn-cancel:hover {
  opacity: 0.6;
}

@media screen and (max-width: 50em) {
  .container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: hsl(0deg, 0%, 100%);
    min-width: 50vw;
    min-height: 80vh;
    margin: auto;
    border-radius: 40px;
  }

  .image-section img {
    width: 100%;
    border-radius: 40px 40px 0px 0px;
  }

  .main-content .text-area {
    color: hsl(223deg, 47%, 23%);
    font-family: "Red Hat Display", sans-serif;
    text-align: center;
    padding-top: 2rem;
    width: 80%;
    margin: auto;
  }
  .main-content .text-area h1 {
    font-size: 2rem;
  }
  .main-content .text-area p {
    font-size: 1.4rem;
    opacity: 0.6;
    font-weight: 400;
    line-height: 2.2rem;
  }
  .main-content .order-section {
    display: flex;
    align-items: center;
    background-color: hsl(225deg, 100%, 98%);
    border-radius: 10px;
    height: 10vh;
  }
  .main-content .order-section img {
    min-width: 5vw;
    margin-left: -2rem;
  }
  .main-content .order-section .plan h2 {
    color: hsl(223deg, 47%, 23%);
  }
  .main-content .order-section .plan p {
    opacity: 0.6;
  }
  .main-content .order-section .change-link {
    padding-left: 10px;
    font-size: 1.2rem;
    font-weight: 700;
  }
  .main-content .order-section .change-link a {
    color: rgb(56, 41, 224);
  }
  .main-content .order-section .change-link a:hover {
    opacity: 0.6;
  }
  .main-content .buttons {
    margin: 40px;
  }
  .main-content .buttons .btn-proceed {
    font-weight: 800;
    font-size: 1rem;
    font-family: "Red Hat Display", sans-serif;
    border: none;
    border-radius: 0.4rem;
    padding: 20px;
    width: 100%;
    background-color: rgb(56, 41, 224);
    color: hsl(0deg, 0%, 100%);
  }
  .main-content .buttons .btn-proceed:hover {
    opacity: 0.6;
  }
  .main-content .buttons .btn-cancel {
    font-weight: 800;
    font-size: 1rem;
    font-family: "Red Hat Display", sans-serif;
    border: none;
    border-radius: 0.4rem;
    padding: 20px;
    margin-top: 20px;
    width: 100%;
    color: hsl(224deg, 23%, 55%);
  }
  .main-content .buttons .btn-cancel:hover {
    opacity: 0.6;
  }
}/*# sourceMappingURL=style.css.map */